# Application mode
VITE_APP_MODE="PROD" ### TEST | PROD

# Mocks && Logging
VITE_MOCKS="ALWAYS" ### ALWAYS | FALLBACK | DEACTIVATED
VITE_LOGS="DEBUG" ### DEBUG | ACTIVATED | DEACTIVATED

# APIs
VITE_EXCHANGE_API="https://api.frankfurter.dev/v2"
VITE_API_PERSISTENCE="https://api.example.com"