@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-gray:  #797979;
  --color-black: #444444;

  --color-orange: #F6821F;
  --color-green:  #00AA57;
  --color-purple: #8D1BFF;
  
  --color-dark-orange: #C46717;
  
  --color-hyperlink: #306EEE;

  --color-input-bg:      #4444440D;
  --color-input-text:    #44444466;
  --color-input-icon:    #AFAFAF;
  --color-input-outline: #44444426;

  --color-skeleton:           #4444441A;
  --color-skeleton-highlight: #44444433;

  --text-hero:     5.00rem;
  --text-title:    2.10rem;
  --text-subtitle: 1.65rem;
  --text-label:    1.20rem;
  --text-body:     1.00rem;
  --text-lower:    0.85rem;

  --font-weight-extra-bold: 800;
  --font-weight-bold:       700;
  --font-weight-semi-bold:  600;
  --font-weight-medium:     500;
  --font-weight-regular:    400;
  --font-weight-light:      300;
  --font-weight-thin:       200;

  --spacing-announcement: 3rem;

  --radius-soft:   0.35rem;
  --radius-medium: 0.50rem;
  --radius-hard:   0.80rem;

  --shadow-soft: 0 0.125rem 0.5rem 0 #4444441A;
  --animate-fade-in: fade-in 150ms ease-out;
  --animate-skeleton-pulse: skeleton-pulse 1.5s ease-in-out infinite;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-optical-sizing: auto;
    font-synthesis: none;
    font-style: normal;
    font-weight: 300;
    @apply text-body text-black;
  }
  
  body { @apply overflow-x-hidden }

  h1     { @apply text-title    font-bold       leading-9; }
  h2     { @apply text-subtitle font-semi-bold  leading-7; }
  h3, h4 { @apply text-label    font-medium     leading-6; }
  h6, h5 { @apply text-body     font-medium     leading-6; }
  p      { @apply font-regular  leading-6; }

  ::-webkit-scrollbar             { @apply w-2 cursor-default!;      }
  ::-webkit-scrollbar-track       { @apply bg-transparent;           }
  ::-webkit-scrollbar-thumb       { @apply bg-orange rounded-full; }
  ::-webkit-scrollbar-thumb:hover { @apply bg-dark-orange;         }

  ::selection, mark { @apply bg-orange-500 text-white; }
  :focus-visible { @apply outline-[0.155rem] outline-offset-[0.165rem] rounded-md outline-input-outline;}
}

@utility no-leading {
  line-height: 1;
  padding-bottom: 1px;
}

@utility skeleton {
  color: transparent;
  @apply bg-skeleton animate-skeleton-pulse select-none pointer-events-none;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.input-scrollbar::-webkit-scrollbar-thumb       { @apply bg-input-outline rounded-full; }
.input-scrollbar::-webkit-scrollbar-thumb:hover { @apply bg-input-text;         }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes skeleton-pulse {
  0%, 100% { background-color: var(--color-skeleton); }
  50%      { background-color: var(--color-skeleton-highlight); }
}