@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-gray:  #797979;
  --color-black: #444444;

  --color-orange: #F6821F;
  --color-green:  #00AA57;
  --color-purple: #8D1BFF;

  --color-hyperlink: #306EEE;

  --color-input-bg:      #4444440D;
  --color-input-text:    #44444466;
  --color-input-icon:    #AFAFAF;
  --color-input-outline: #44444426;

  --text-hero:     5.00rem;
  --text-title:    2.10rem;
  --text-subtitle: 1.65rem;
  --text-label:    1.20rem;
  --text-body:     1.00rem;

  --shadow-soft: 0 0.125rem 0.5rem 0 #4444441A;
  --animate-fade-in: fade-in 150ms ease-out;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-optical-sizing: auto;
    font-synthesis: none;
    font-style: normal;
    font-weight: 300;
    @apply text-body;
  }
  
  h1     { @apply text-title;    }
  h2     { @apply text-subtitle; }
  h3, h4 { @apply text-label;    }
  h6, h5 { @apply text-body;     }
  
  ::selection, mark {
    @apply bg-orange-500 text-white;
  }

  :focus-visible {
    @apply outline-[0.155rem] outline-offset-[0.165rem] rounded-md outline-input-outline;
  }
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.extra-bold { font-weight: 800; }
.bold       { font-weight: 700; }
.semi-bold  { font-weight: 600; }
.medium     { font-weight: 500; }
.regular    { font-weight: 400; }
.light      { font-weight: 300; }
.thin       { font-weight: 200; }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}